* {
    box-sizing: border-box;
    text-align: center;
    content: #ebebed;
    font-size: 24px;
}
body{
    margin: auto;
    font-size: 18px;
    font-family: Arial;
    width: 960px;

}

header{
    margin-top: 5px;
    background: #eee;
    text-align: center;
    padding: 20px;
}

nav{
    border: 1px solid #555;
    margin-top: 5px;
    padding: 20px;
    background: #eee;
    display: block;

}

section {
    float: left;
    width: 475px;
    height: 286px;
    padding: 20px;
    margin-top: 5px;
    margin-left: 0px;
    background: #eee;
    border: 1px solid;
}

#full {
    padding: 10px;
    border: 1px solid;
    background: #777;

}


.middleSection {
    margin-top: 5px;
    padding: 2px;
    background: #eee;
}

/*#p{*/
    /*padding: 5px;*/
    /*margin-top: 5px;*/
    /*background: #eee;*/
/*}*/

aside {
    float: right;
    width:475px;
    margin-top: 5px;
    background: #eee;
    border: 1px solid;
    height: 286px;
    margin-bottom: 10px;
}

footer {

    padding: 20px;
    clear: both;
    background: #eee;
}